
<html>

<title>Book Sales</title>
<link href="style.css" rel="stylesheet" type="text/css" />


<body>
<h1>Book Sales</h1>

<!-- Display book sales in a table -->

<div id="browse" style="display: block">

  <table border="1" cellpadding="5" id="book-sales-table">
    <thead>
        <tr>
          <th>Book Sale ID</th>
          <th>Invoice Number</th>
          <th>Book Title</th>
            <th>Delete</th>
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.bookSaleID}}>
            <td>{{this.bookSaleID}}</td>
            <td>{{this.invoiceNumber}}</td>
            <td>{{this.bookTitle}}</td>
            <td><button onclick="deleteBookSale({{this.bookSaleID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  </table>

  <script src="./js/delete_book_sale.js"></script>

  <p> <strong>Note:</strong> Deleting an item from Book Sales will remove the book from the corresponding invoice. <br>
  Neither the invoice nor the book will be deleted from the database.</p>
  <p>&nbsp;</p>
</div> 


<!-- Add book sale -->

<h2>Add Books to a Sale</h2>
<p>Add a book to a sale based on the sale's invoice number.</p>

<form id="add-book-sale-form" method="POST" action="/add-book-sale-form">

    <label for="input-invoiceNumber" class="required">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber" required>
        <option value="" selected disabled hidden>Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-book" class="required">Book: </label>
    <select name="input-book" id="input-book" required>
        <option value="" selected disabled hidden>Select Book</option>
        {{#each Books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<p>&nbsp;</p>

<!-- Update book sale -->

<h2>Update Book Sale</h2>
<p>Update a book sale based on the Book Sale ID (M:N update).</p>

<form id="update-book-sale" method="POST" action="/update-book-sale">

    <label for="input-bookSale" class="required">Book Sale ID: </label>
    <select name="input-bookSale" id="input-bookSale" required>
        <option value="" selected disabled hidden>Book Sale ID</option>
        {{#each data}}
        <option value="{{this.bookSaleID}}">{{this.bookSaleID}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber" class="required">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber" required>
        <option value="" selected disabled hidden>Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-book" class="required">Book: </label>
    <select name="input-book" id="input-book" required>
        <option value="" selected disabled hidden>Select Book</option>
        {{#each Books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    
    <input type="submit"> 

</form>


</body>
</html>
