
<html>
<head>
<title>Books</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Books</h1>

<!-- Display books in a table -->

<table border="1" cellpadding="5" id="books-table">
  <thead>
      <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Qunatity</th>
            <th>Delete</th>
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.bookID}}>
          <td>{{this.bookID}}</td>
          <td>{{this.bookTitle}}</td>
          <td>{{this.bookAuthor}}</td>
          <td>{{this.yearPublished}}</td>
          <td>{{this.bookGenre}}</td>
          <td>{{this.bookPrice}}</td>
          <td>{{this.bookQuantity}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
      </tr>
      {{/each}}
  </tbody>
</table>

  <script src="./js/delete_book.js"></script>

<p> <strong>Note:</strong> Deleting books will remove the book from any corresponding invoices (M:N deletion). <br>
  No invoice will be deleted, but corresponding book sales will be deleted from the book sales page.</p>


<p>&nbsp;</p>

<!-- insert book -->

<h2>Add New Book</h2>
<p>Add a new book to the database.</p>

<form id="add-book-form" method="POST" action="/add-book-form">
    <label for="input-bookTitle" class="required">Title: </label>
    <input type="text" name="input-bookTitle" id="input-bookTitle" required maxlength="90">

    <label for="input-bookAuthor" class="required">Author: </label>
    <input type="text" name="input-bookAuthor" id="input-bookAuthor" required maxlength="45">
    
    <label for="input-bookYear" class="required">Year Published: </label>
    <input type="text" name="input-bookYear" id="input-bookYear" required size="5" maxlength="4">
    
    <label for="input-bookGenre" class="required">Genre: </label>
    <input type="text" name="input-bookGenre" id="input-bookGenre" required maxlength="45">

    <label for="input-bookPrice" class="required">Price: </label>
    <input type="text" name="input-bookPrice" id="input-bookPrice" required size="7">

    <label for="input-merchQuantity" class="required">Qunatity: </label>
    <input type="number" name="input-bookQuantity" id="input-bookQuantity" required maxlength="10">

    <input type="submit">
</form>

<p>&nbsp;</p>

<!-- update book -->

<h2>Update Books</h2>
<p>Update the price and quantity of a book by selecting the title of the book.</p>

<form id="update-book" method="POST" action="/update-book">

    <label for="input-bookID" class="required">Book: </label>
    <select name="input-bookID" id="input-bookID" required>
        <option value="test" selected disabled hidden>Select Book</option>
        {{#each data}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>

    <label for="input-bookPrice" class="required">Price: </label>
    <input type="text" name="input-bookPrice" id="input-bookPrice-update" required size="8" maxlength="7">

    <label for="input-bookQuantity" class="required">Quantity: </label>
    <input type="number" name="input-bookQuantity" id="input-bookQuantity-update" required maxlength="10">

    <button type="submit">Submit</button>  

</form>


</body>
</html>
