<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626

Citation for displaying the data:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 4, attribute names and table header layout are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data

Citation for the adding data form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 5, labels and ids are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data

-->

<html>
<head>
<title>Books</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Books</h1>

<!-- Display books in a table -->

<table border="1" cellpadding="5" id="books-table">
  <thead>
      <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Qunatity</th>
          <!-- <th>delete</th> -->
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.bookID}}>
          <td>{{this.bookID}}</td>
          <td>{{this.bookTitle}}</td>
          <td>{{this.bookAuthor}}</td>
          <td>{{this.yearPublished}}</td>
          <td>{{this.bookGenre}}</td>
          <td>{{this.bookPrice}}</td>
          <td>{{this.bookQuantity}}</td>
          <!-- <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td> -->
      </tr>
      {{/each}}
  </tbody>
</table>

<p>&nbsp;</p>

<!-- insert book -->

<h2>Add New Book</h2>
<p>Add a new book to the database.</p>

<form id="add-book-form" method="POST" action="/add-book-form">
    <label for="input-bookTitle">Title: </label>
    <input type="text" name="input-bookTitle" id="input-bookTitle" required>

    <label for="input-bookAuthor">Author: </label>
    <input type="text" name="input-bookAuthor" id="input-bookAuthor" required>
    
    <label for="input-bookYear">Year Published: </label>
    <input type="text" name="input-bookYear" id="input-bookYear" required>
    
    <label for="input-bookGenre">Genre: </label>
    <input type="text" name="input-bookGenre" id="input-bookGenre" required>

    <label for="input-bookPrice">Price: </label>
    <input type="text" name="input-bookPrice" id="input-bookPrice" required>

    <label for="input-merchQuantity">Qunatity: </label>
    <input type="number" name="input-bookQuantity" id="input-bookQuantity" required>

    <input type="submit">
</form>

<p>&nbsp;</p>


</body>
</html>
