<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>

<title>Book Sales</title>
<link href="style.css" rel="stylesheet" type="text/css" />


<body>
<h1>Book Sales</h1>

<div id="browse" style="display: block">
  <p><strong>Browse Book Sales</strong></p>
  <table border="1" cellpadding="5" id="book-sales-table">
    <thead>
        <tr>
          <th>Book Sale ID</th>
          <th>Book Title</th>
          <th>Invoice Number</th>
            <th>Delete</th>
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.bookSaleID}}>
            <td>{{this.bookSaleID}}</td>
            <td>{{this.bookTitle}}</td>
            <td>{{this.invoiceNumber}}</td>
            <td><button onclick="deleteBookSale({{this.bookSaleID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  </table>

  <script src="./js/delete_book_sale.js"></script>
  
  <p>&nbsp;</p>
</div> <!-- browse -->

<h2>Add Books to a Sale</h2>

<form id="add-book-sale-form" method="POST" action="/add-book-sale-form">

    <label for="input-book">Book: </label>
    <select name="input-book" id="input-book">
        <option value="">Select Book</option>
        {{#each Books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber">
        <option value="">Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<p>&nbsp;</p>
<h2>Update Book Sale</h2>

<form id="update-book-sale" method="POST" action="/update-book-sale">

    <label for="input-bookSale">Book Sale ID: </label>
    <select name="input-bookSale" id="input-bookSale">
        <option value="">Book Sale ID</option>
        {{#each data}}
        <option value="{{this.bookSaleID}}">{{this.bookSaleID}}</option>
        {{/each}}
    </select>

    <label for="input-book">Book: </label>
    <select name="input-book" id="input-book">
        <option value="">Select Book</option>
        {{#each Books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber">
        <option value="">Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Submit</button>  

</form>


</body>
</html>
