<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>

<title>Customers</title>


<body>
<h1>Customers</h1>


<div id="browse" style="display: block">
  <p><strong>Browse Customers</strong></p>
  <table border="1" cellpadding="5" id="customers-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <!-- <th>delete</th> -->
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.customerEmail}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>



<p>&nbsp;</p>
</div> 

<h2>Add New Customer</h2>
<p>To add a new customer, please enter the information below and click `Submit`!</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-customerName">Customer Name: </label>
    <input type="text" name="input-customerName" id="input-customerName">
    
    <label for="input-customerEmail">Email: </label>
    <input type="text" name="input-customerEmail" id="input-customerEmail">

    <input type="submit">
</form>
<p>&nbsp;</p>


</body>
</html>
