
<html>


<body>
<h1>Employees</h1>

<!-- display employees in a table -->

<div id="browse" style="display: block">

  <table border="1" cellpadding="5" id="employees-table">
    <thead>
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Phone Number</th>
           <th>Delete</th>
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.employeeID}}>
            <td>{{this.employeeID}}</td>
            <td>{{this.employeeName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  </table>

  <script src="./js/delete_employee.js"></script>

<p>&nbsp;</p>
</div> 

<!-- insert new employee -->

<h2>Add New Employee</h2>
<p>Add a new employee to the database.</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
    <label for="input-employeeName" class="required">Employee Name: </label>
    <input type="text" name="input-employeeName" id="input-employeeName" required maxlength="45">
    
    <label for="input-phoneNumber" class="required">Phone Number: </label>
    <input type="text" name="input-phoneNumber" id="input-phoneNumber" required maxlength="20">

    <input type="submit">
</form>
<p>&nbsp;</p>

</body>
</html>
