<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>


<body>
<h1>Employees</h1>

<div id="browse" style="display: block">
  <p><strong>Browse Employees</strong></p>
  <table border="1" cellpadding="5" id="employees-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <!-- <th>delete</th> -->
        </tr>
    </thead>
  
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.employeeID}}>
            <td>{{this.employeeID}}</td>
            <td>{{this.employeeName}}</td>
            <td>{{this.phoneNumber}}</td>
        </tr>
        {{/each}}
    </tbody>
  </table>


<p>&nbsp;</p>
</div> 

<h2>Add New Employee</h2>
<p>To add a new employee, please enter the information below and click `Submit`!</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
    <label for="input-employeeName">Employee Name: </label>
    <input type="text" name="input-employeeName" id="input-employeeName">
    
    <label for="input-phoneNumber">Phone Number: </label>
    <input type="text" name="input-phoneNumber" id="input-phoneNumber">

    <input type="submit">
</form>
<p>&nbsp;</p>

</body>
</html>
