<h1>Merchandise Sales</h1>

<!-- Display merch sales in a table -->

<div id="browse" style="display: block">

<table border="1" cellpadding="5" id="merch-sales-table">
  <thead>
      <tr>
          <th>Merch Sale ID</th>
            <th>Invoice Number</th>
          <th>Merch Name</th>
          <th>Delete</th>
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.merchSaleID}}>
          <td>{{this.merchSaleID}}</td>
        <td>{{this.invoiceNumber}}</td>
          <td>{{this.merchName}}</td>
        <td><button onclick="deleteMerchandiseSale({{this.merchSaleID}})">Delete</button></td>
      </tr>
      {{/each}}
  </tbody>
</table>

<script src="./js/delete_merchandise_sale.js"></script>

  <p> <strong>Note:</strong> Deleting an item from Merchandise Sales will remove the merchandise from the corresponding invoice. <br>
  Neither the invoice nor the merchandise product will be deleted from the database.</p>
  
<p>&nbsp;</p>

<!-- Add new merch sale -->

<h2>Add Merchandise to a Sale</h2>
<p>Add merchandise to a sale based on the sale's invoice number.</p>

<form id="add-merch-sale-form" method="POST" action="/add-merch-sale-form">

    
    <label for="input-invoiceNumber" class="required">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber" required>
        <option value="" selected disabled hidden>Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-merch" class="required">Merchandise: </label>
    <select name="input-merch" id="input-merch" required>
        <option value="" selected disabled hidden>Select Merchandise</option>
        {{#each Merch}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<p>&nbsp;</p>


<!-- Update merch sales -->

<h2>Update Merchandise Sale</h2>
<p>Update a merchandise sale based on the Merch Sale ID (M:N update).</p>

<form id="update-merch-sale" method="POST" action="/update-merch-sale">

    <label for="input-merchSale" class="required">Merch Sale ID: </label>
    <select name="input-merchSale" id="input-merchSale" required>
        <option value="" selected disabled hidden>Merch Sale ID</option>
        {{#each data}}
        <option value="{{this.merchSaleID}}">{{this.merchSaleID}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber" class="required">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber" required>
        <option value="" selected disabled hidden>Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-merch" class="required">Merchandise: </label>
    <select name="input-merch" id="input-merch" required>
        <option value="" selected disabled hidden>Select Merchandise</option>
        {{#each Merch}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>
    
    <input type="submit"> 

</form>

