<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626

Citation for displaying the data:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 4, attribute names and table header layout are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data

Citation for the adding data form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 5, labels and ids are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data

Citation for deleting the data:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 6, labels and attribute names are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data

Citation for the updating form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 8, code was also modified based on the adding data form post methods
The post method action used to update was completely our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data

Citation for the Search form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 6, form labels are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box

-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<title>Merchandise</title>




<h1>Merchandise</h1>


{{!-- Create a table --}}

<table border="1" cellpadding="5">
  <h2>Search Using an HTML Form</h2>
  <p>Search by merchandise name using the field below.</p>

  <form id="search-merch-html" method='GET' action='/merchandise'>
      <label for="inputmerchName">Search by Merchandise Name: </label>
      <input type="text" name="inputmerchName" id="inputmerchName">
      
      <input type="submit">
      <a href='/merchandise'><button>Reset</button></a>
  </form>

</table>
  <h2>Browse Merchandise</h2>
<p>Click on "delete" to delete a product. Deleting a product will remove it from any associated invoices, but it will not delete
  the invoices.</p>
    {{!-- Header section --}}


<table border="1" cellpadding="5" id="merch-table">
    <thead>
        <tr>
            <th>Merchandise ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.merchID}}>
            <td>{{this.merchID}}</td>
            <td>{{this.merchName}}</td>
            <td>{{this.merchPrice}}</td>
            <td>{{this.merchQuantity}}</td>
            <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_merchandise.js"></script>

<!-- insert merch -->
<h2>Add New Merchandise</h2>
<p>To add new Merchandise, please enter the information below and click `Submit`!</p>
<form id="add-merch-form" method="POST" action="/add-merch-form">
    <label for="input-merchName">Merchandise Name: </label>
    <input type="text" name="input-merchName" id="input-merchName">
    
    <label for="input-merchPrice">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice">

    <label for="input-merchQuantity">Stock: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity">

    <input type="submit">
</form>
<p>&nbsp;</p>



<h2>Update Merchandise</h2>
<p>To update a specific merchandise, select the name from the drop-down menu on the left and enter in the new values.</p>

<form id="update-merch" method="POST" action="/update-merch">

    <label for="input-merchID">Merchandise Name: </label>
    <select name="input-merchID" id="input-merchID">
        <option value="test">Select Merchandise</option>
        {{#each data}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>

    <label for="input-merchName">Merchandise Name: </label>
    <input type="text" name="input-merchName" id="input-merchName-update">
    
    <label for="input-merchPrice">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice-update">

    <label for="input-merchQuantity">Stock: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity-update">

    <button type="submit">Submit</button>  

</form>



