<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626

Citation for displaying the data:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 4, attribute names and table header layout are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data

Citation for the adding data form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 5, labels and ids are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data

Citation for deleting the data:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 7, labels and attribute names are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data

Citation for the updating form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 8, code was also modified based on the adding data form post methods
The post method action used to update was completely our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data

Citation for the Search form:
Date: 8/11/23
Adapted from from OSU CS 340 nodejs-starter-app Step 6, form labels are our own work
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box

-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<title>Merchandise</title>

<h1>Merchandise</h1>
 
<!-- display merch in a table -->

<table border="1" cellpadding="5" id="merch-table">
    <thead>
        <tr>
            <th>Merchandise ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.merchID}}>
            <td>{{this.merchID}}</td>
            <td>{{this.merchName}}</td>
            <td>{{this.merchPrice}}</td>
            <td>{{this.merchQuantity}}</td>
            <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_merchandise.js"></script>

<p> <strong>Note:</strong> Deleting merchandise will remove the merchandise from any corresponding invoices (M:N deletion). <br>
  No invoice will be deleted, but corresponding merchandise sales will be deleted from the merchandise sales page.</p>


<p>&nbsp;</p>

<!-- search merch form -->


  <h2>Search Merchandise</h2>
  <p>Search for merchandise by name. Partial names are accepted.</p>

  <form id="search-merch-html" method='GET' action='/merchandise'>
      <label for="inputmerchName">Search by Merchandise Name: </label>
      <input type="text" name="inputmerchName" id="inputmerchName">
      
      <input type="submit">
      <a href='/merchandise'><button class = "merch">Reset</button></a>
  </form>


<p>&nbsp;</p>

<!-- insert merch -->
<h2>Add New Merchandise</h2>
<p>Add new merchandise to the database.</p>
<form id="add-merch-form" method="POST" action="/add-merch-form">
    <label for="input-merchName" class="required">Name: </label>
    <input type="text" name="input-merchName" id="input-merchName" required>
    
    <label for="input-merchPrice" class="required">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice" required size="8">

    <label for="input-merchQuantity" class="required">Quantity: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity" required>

    <input type="submit">
</form>
<p>&nbsp;</p>

<!-- update merch -->

<h2>Update Merchandise</h2>
<p>Update merchandise by selecting the name of the merchandise product (M:N update).</p>

<form id="update-merch" method="POST" action="/update-merch">

    <label for="input-merchID" class="required">Name: </label>
    <select name="input-merchID" id="input-merchID" required>
        <option value="test" selected disabled hidden>Select Merchandise</option>
        {{#each data}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>

    <label for="input-merchName" class="required">Name: </label>
    <input type="text" name="input-merchName" id="input-merchName-update" required>
    
    <label for="input-merchPrice" class="required">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice-update" required size="8">

    <label for="input-merchQuantity" class="required">Quantity: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity-update" required>

    <button type="submit">Submit</button>  

</form>



