
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<title>Merchandise</title>

<h1>Merchandise</h1>
 
<!-- display merch in a table -->

<table border="1" cellpadding="5" id="merch-table">
    <thead>
        <tr>
            <th>Merchandise ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.merchID}}>
            <td>{{this.merchID}}</td>
            <td>{{this.merchName}}</td>
            <td>{{this.merchPrice}}</td>
            <td>{{this.merchQuantity}}</td>
            <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_merchandise.js"></script>

<p> <strong>Note:</strong> Deleting merchandise will remove the merchandise from any corresponding invoices (M:N deletion). <br>
  No invoice will be deleted, but corresponding merchandise sales will be deleted from the merchandise sales page.</p>


<p>&nbsp;</p>


<!-- insert merch -->
<h2>Add New Merchandise</h2>
<p>Add new merchandise to the database.</p>
<form id="add-merch-form" method="POST" action="/add-merch-form">
    <label for="input-merchName" class="required">Name: </label>
    <input type="text" name="input-merchName" id="input-merchName" required maxlength="45">
    
    <label for="input-merchPrice" class="required">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice" required size="8" maxlength="7">

    <label for="input-merchQuantity" class="required">Quantity: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity" required maxlength="10">

    <input type="submit">
</form>
<p>&nbsp;</p>

<!-- update merch -->

<h2>Update Merchandise</h2>
<p>Update merchandise by selecting the name of the merchandise product (M:N update). <br>
<strong>Note: </strong> The name will be updated on any corresponding invoices.</p>

<form id="update-merch" method="POST" action="/update-merch">

    <label for="input-merchID" class="required">Name: </label>
    <select name="input-merchID" id="input-merchID" required>
        <option value="test" selected disabled hidden>Select Merchandise</option>
        {{#each data}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>

    <label for="input-merchName" class="required">Updated Name: </label>
    <input type="text" name="input-merchName" id="input-merchName-update" required maxlength="45">
    
    <label for="input-merchPrice" class="required">Price: </label>
    <input type="text" name="input-merchPrice" id="input-merchPrice-update" required size="8" maxlength="7">

    <label for="input-merchQuantity" class="required">Quantity: </label>
    <input type="number" name="input-merchQuantity" id="input-merchQuantity-update" required maxlength="10">

    <input type="submit">

</form>



