<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>

<title>Merchandise Sales</title>
<link href="style.css" rel="stylesheet" type="text/css" />

<body>
<h1>Merchandise Sales</h1>


<div id="browse" style="display: block">
<p><strong>Browse Merchandise Sales</strong></p>
<table border="1" cellpadding="5" id="merch-sales-table">
  <thead>
      <tr>
          <th>Merch Sale ID</th>
          <th>Merch Name</th>
          <th>Invoice Number</th>
          <th>Delete</th>
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.merchSaleID}}>
          <td>{{this.merchSaleID}}</td>
          <td>{{this.merchName}}</td>
          <td>{{this.invoiceNumber}}</td>
        <td><button onclick="deleteMerchandiseSale({{this.merchSaleID}})">Delete</button></td>
      </tr>
      {{/each}}
  </tbody>
</table>

  <script src="./js/delete_merchandise_sale.js"></script>
  
<p>&nbsp;</p>

<h2>Add Merchandise to a Sale</h2>

<form id="add-merch-sale-form" method="POST" action="/add-merch-sale-form">

    <label for="input-merch">Merchandise: </label>
    <select name="input-merch" id="input-merch">
        <option value="">Select Merchandise</option>
        {{#each Merch}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber">
        <option value="">Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<p>&nbsp;</p>

<h2>Update Merchandise Sale</h2>

<form id="update-merch-sale" method="POST" action="/update-merch-sale">

    <label for="input-merchSale">Merch Sale ID: </label>
    <select name="input-merchSale" id="input-merchSale">
        <option value="">Merch Sale ID</option>
        {{#each data}}
        <option value="{{this.merchSaleID}}">{{this.merchSaleID}}</option>
        {{/each}}
    </select>

    <label for="input-merch">Merchandise: </label>
    <select name="input-merch" id="input-merch">
        <option value="">Select Merchandise</option>
        {{#each Merch}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>
    
    <label for="input-invoiceNumber">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber">
        <option value="">Select Invoice</option>
        {{#each Sales}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Submit</button>  

</form>

</body>
</html>
