<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>


<body>
<h1>Sales</h1>



<table border="1" cellpadding="5" id="sales-table">
  <thead>
      <tr>
            <th>Invoice Number</th>
            <th>Employee Name</th>
            <th>Customer Name</th>
            <th>Sale Revenue</th>
          <th>Books Sold</th>
          <th>Merchandise Sold</th>
          <!-- <th>delete</th> -->
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.invoiceNumber}}>
          <td>{{this.invoiceNumber}}</td>
          <td>{{this.employeeName}}</td>
          <td>{{this.customerName}}</td>
          <td>{{this.saleRevenue}}</td>
          <td>{{this.Books}}</td>
          <td>{{this.Merchandise}}</td>
          <!-- <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td> -->
      </tr>
      {{/each}}
  </tbody>
</table>

<p>&nbsp;</p>


<!-- insert sale -->
<h2>Add a New Sale</h2>
<p>To add a new Sale, please enter the information below and click `Submit`!</p>
<form id="add-sale-form" method="POST" action="/add-sale-form">

    <label for="input-employee">Employee: </label>
    <select name="input-employee" id="input-employee">
        <option value="">Select Employee</option>
        <option value="">None</option>
        {{#each Employees}}
        <option value="{{this.employeeID}}">{{this.employeeName}}</option>
        {{/each}}
    </select>

    <label for="input-customer">Customer: </label>
    <select name="input-customer" id="input-customer">
        <option value="">Select Customer</option>
        {{#each Customers}}
        <option value="{{this.customerID}}">{{this.customerName}}</option>
        {{/each}}
    </select>
    
    <label for="input-saleRevenue">Sale Revenue: </label>
    <input type="text" name="input-saleRevenue" id="input-saleRevenue">
    

    <input type="submit">
</form>

<p>
<a href="/merchandisesales">Add Merchandise to a Sale</a>
&nbsp;
<a href="/booksales">Add Books to a Sale</a>
</p>

<p>&nbsp;</p>

<h2>Update Sale</h2>

<form id="update-sale" method="POST" action="/update-sale">

    <label for="input-invoiceNumber">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber">
        <option value="">Select Invoice</option>
        {{#each data}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-employee">Employee: </label>
    <select name="input-employee" id="input-employee">
        <option value="">Select Employee</option>
        <option value="">None</option>
        {{#each Employees}}
        <option value="{{this.employeeID}}">{{this.employeeName}}</option>
        {{/each}}
    </select>

    <label for="input-customer">Customer: </label>
    <select name="input-customer" id="input-customer">
        <option value="">Select Customer</option>
        {{#each Customers}}
        <option value="{{this.customerID}}">{{this.customerName}}</option>
        {{/each}}
    </select>

  <label for="input-book">Book Purchased: </label>
    <select name="input-book" id="input-book">
        <option value="">Select Book</option>
        {{#each Books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>

<label for="input-merch">Merchandise Purchased: </label>
    <select name="input-merch" id="input-merch">
        <option value="">Select Merchandise</option>
        {{#each Merchandise}}
        <option value="{{this.merchID}}">{{this.merchName}}</option>
        {{/each}}
    </select>
  
    <label for="input-saleRevenue">Sale Revenue: </label>
    <input type="text" name="input-saleRevenue" id="input-saleRevenue">


    <button type="submit">Submit</button>  

</form>

<p>
<a href="/merchandisesales">Update and Delete Merchandise Sales</a>
&nbsp;
<a href="/booksales">Update and Delete Book Sales</a>
</p>

</body>
</html>
