<! -- 
Citation for the following HTML page:
Date: 7/25/2023
Adapted from CS340 Canvas Page: Web Application Technology. Used example structure to make own HTML pages, and copied view functions used for inserting, updating, deleting and showing specific forms.
URL: https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626
-->

<html>


<body>
<h1>Sales</h1>



<table border="1" cellpadding="5" id="sales-table">
  <thead>
      <tr>
          {{#each data.[0]}}
          <th>
              {{@key}}
          </th>
          {{/each}}
          <th>Books Sold</th>
          <th>Merch Sold</th>
          <!-- <th>delete</th> -->
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.invoiceNumber}}>
          <td>{{this.invoiceNumber}}</td>
          <td>{{this.employeeID}}</td>
          <td>{{this.customerID}}</td>
          <td>{{this.saleRevenue}}</td>
          <td>{{this.books}}</td>
          <td>{{this.merch}}</td>
          <!-- <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td> -->
      </tr>
      {{/each}}
  </tbody>
</table>

<p>&nbsp;</p>

</div> <!-- browse -->
<div id="insert" style="display: block">
    <form id="addSale">
        <legend><strong>Add A New Sale</strong></legend>
          <fieldset class="fields">
            <label> Invoice Number </label> <input type="text" name="invoiceNumber">
            <label> Employee Name </label> <input type="text" name="employeeID">
            <label> Customer Name </label> <input type="text" name="customerID">
            <label> Revenue </label> <input type="text" name="saleRevenue">
            <p> Books Purchased:
              <label><input type= "checkbox"/>
                Sapiens: A Brief History of Humankind
              </label>
              <label><input type= "checkbox"/>
                Circe
              </label>
              <label><input type= "checkbox"/>
                To Kill a Mockingbird
              </label>
            </p>
            <p> Merchandise Purchased:
              <label><input type= "checkbox"/>
                Floral Bookmark
              </label>
              <label><input type= "checkbox"/>
                Bumblebee Spiral Notebook
              </label>
              <label><input type= "checkbox"/>
                Red Reading Light
              </label>
            </p>
          </fieldset>
          <input class="btn" type="submit" id="AddSale" value="Add a Sale">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new sale-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateSale">
      <legend><strong>Update An Existing Sale</strong></legend>
          <p>Set the employee name to "NULL" to remove the employee.</p>
          <fieldset class="fields">
          <label>Invoice Number:</label> <input type="text" name="employeeID">
            <label>Employee Name: </label> <input type="text" name="employeeID">
            <label>Customer Name </label> <input type="text"  name="customerID">
            <label>Revenue </label> <input type="text"  name="customerID">
            <p> Books Purchased:
              <label><input type= "checkbox"/>
                Sapiens: A Brief History of Humankind
              </label>
              <label><input type= "checkbox"/>
                Circe
              </label>
              <label><input type= "checkbox"/>
                To Kill a Mockingbird
              </label>
            </p>
            <p> Merchandise Purchased:
              <label><input type= "checkbox"/>
                Floral Bookmark
              </label>
              <label><input type= "checkbox"/>
                Bumblebee Spiral Notebook
              </label>
              <label><input type= "checkbox"/>
                Red Reading Light
              </label>
            </p>
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveSale" value="Save Update Sale">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>
<!-- <div id="delete" style="display: block">
  <form id="deleteSale">
      <legend><strong>Delete Sale</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>invoiceNumber:</label> 1
            <label>employeeID</label> 1
             <label>customerID</label> 2
             <label>saleRevenue</label> 14.29
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteSale" value="Delete Sale">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div> -->
</body>
</html>
