<html>

<body>
<h1>Sales</h1>

<!-- Display sales in a table -->

<table border="1" cellpadding="5" id="sales-table">
  <thead>
      <tr>
            <th>Invoice Number</th>
            <th>Employee Name</th>
            <th>Customer Name</th>
            <th>Sale Revenue</th>
          <th>Books Sold</th>
          <th>Merchandise Sold</th>
          <!-- <th>delete</th> -->
      </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
      {{#each data}}
      <tr data-value={{this.invoiceNumber}}>
          <td>{{this.invoiceNumber}}</td>
          <td>{{this.employeeName}}</td>
          <td>{{this.customerName}}</td>
          <td>{{this.saleRevenue}}</td>
          <td>{{this.Books}}</td>
          <td>{{this.Merchandise}}</td>
          <!-- <td><button onclick="deleteMerchandise({{this.merchID}})">Delete</button></td> -->
      </tr>
      {{/each}}
  </tbody>
</table>

<p>&nbsp;</p>


<!-- insert sale -->

<h2>Add New Sale</h2>

<p>Add a new sale to the database. Then, use the buttons below to add books and merchandise to the sale based on the sale's invoice number.
<br> <strong>Note: </strong>If a customer is new, the customer must be added to the database before the sale can be processed.
</p>
<form id="add-sale-form" method="POST" action="/add-sale-form">

    <label for="input-employee">Employee: </label>
    <select name="input-employee" id="input-employee">
        <option value="" selected disabled hidden>Select Employee</option>
        <option value="">None</option>
        {{#each Employees}}
        <option value="{{this.employeeID}}">{{this.employeeName}}</option>
        {{/each}}
    </select>

    <label for="input-customer" class="required">Customer: </label>
    <select name="input-customer" id="input-customer" required>
        <option value="" selected disabled hidden>Select Customer</option>
        {{#each Customers}}
        <option value="{{this.customerID}}">{{this.customerName}}</option>
        {{/each}}
    </select>
    
    <label for="input-saleRevenue" class="required">Sale Revenue: </label>
    <input type="text" name="input-saleRevenue" id="input-saleRevenue" required maxlength="7">
    

    <input type="submit">
</form>

<p>
<nav class="button">
    <a href="/merchandisesales">Add Merchandise to a Sale</a>
    &nbsp;
    <a href="/booksales">Add Books to a Sale</a>
</nav>
</p>

<p>&nbsp;</p>

<!-- Update sales -->

<h2>Update Sale</h2>

<p>Update a sale based on the invoice number. Use the buttons below to update and/or delete the books and merchandise that appear on the invoice.
<br><strong>Note: </strong>Select "None" under Employee to nullify the relationship between an employee and a sale (nullable relationship).
</p>
<form id="update-sale" method="POST" action="/update-sale">

    <label for="input-invoiceNumber" class="required">Invoice: </label>
    <select name="input-invoiceNumber" id="input-invoiceNumber" required>
        <option value="" selected disabled hidden>Select Invoice</option>
        {{#each data}}
        <option value="{{this.invoiceNumber}}">{{this.invoiceNumber}}</option>
        {{/each}}
    </select>

    <label for="input-employee">Employee: </label>
    <select name="input-employee" id="input-employee">
        <option value="" selected disabled hidden>Select Employee</option>
        <option value="">None</option>
        {{#each Employees}}
        <option value="{{this.employeeID}}">{{this.employeeName}}</option>
        {{/each}}
    </select>

    <label for="input-customer" class="required">Customer: </label>
    <select name="input-customer" id="input-customer" required>
        <option value="" selected disabled hidden>Select Customer</option>
        {{#each Customers}}
        <option value="{{this.customerID}}">{{this.customerName}}</option>
        {{/each}}
    </select>

    <label for="input-saleRevenue" class="required">Sale Revenue: </label>
    <input type="text" name="input-saleRevenue" id="input-saleRevenue" required maxlength="7">


    <button type="submit">Submit</button>  

</form>

<p>
<nav class="button">
    <a href="/merchandisesales">Update and Delete Merchandise Sales</a>
    &nbsp;
    <a href="/booksales">Update and Delete Book Sales</a>
</nav>
</p>

</body>
</html>
